.fly-theme {
  --main-accent-color: #1979c3;
  --nav-text-color: #000000;
  --light-color: #f6f6f6;
}

body.fly-theme header .nav-wrapper,
body.fly-theme footer {
  background-color: #fff;
  color: var(--nav-text-color);
}

body.fly-theme header .nav-wrapper nav .nav-sections ul > li > a::before {
  background: var(--main-accent-color);
}

body.fly-theme header .nav-wrapper nav .nav-sections ul > li > a:hover {
  color: var(--main-accent-color);
}

body.fly-theme p {
  font-size: 15px !important;
}

body.fly-theme p strong {
  font-size: 15px !important;
}

body.fly-theme h1 {
  font-size: 28px;
}

body.fly-theme .hero h1 {
  font-size: 45px;
}

body.fly-theme h2 {
  font-size: 23px;
}

body.fly-theme h3 {
  font-size: 20px;
}

body.fly-theme h4 {
  font-size: 18px;
}

body.fly-theme h5 {
  font-size: 16px;
}

body.fly-theme .cta-button a.button {
  font-size: 16px;
  padding: 10px 24px !important;
  border-radius: 25px;
}

body.fly-theme .cards > ul > li .cards-card-body p {
  font-size: 15px;
}

body.fly-theme .hero p {
  font-size: 20px !important;
  font-weight: 300;
  font-family: 'Adobe Clean';
}

body.fly-theme .cta-button a.button::after {
  font-size: 17px;
  margin-left: 0;
}
